.container {
      gap: 20px;
    .navbar {
        display: flex;
        gap: 50px;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 2px solid blue; 

        .elements {
            display: flex;
            list-style: none;
            gap: 40px;
            font-size: 25px;

        }

        .icons {
            font-size: 20px;

        }
    }
    .title{
        display: flex;
        justify-content: center;
         gap: 10px;
         align-items: center;
        i{
            font-size: 60px;
        }
        h1{
           font-size: 60px; 
        }

    }
    .sub-navbar{
        display: flex;
        justify-content: center;
        gap: 60px;
        li{
            list-style: none;
            font-size: 20px;
        }
    }
    .cards{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 20px;
            
        .card{
             border:2px solid black ;
            width: 350px;
            height: 60%;
            padding: 10px;
            text-align:center;
            display: flex;
            flex-direction: column;

            img{
                width: 350px;
                height: 300px;
            }
            
            h1{
                text-decoration: underline;
                text-transform: capitalize;
            }

            p{
                font-size: 15px;
                text-align: justify;
                text-decoration: none;
            }
            .id{
                font-size: 12px;
            }
        }
    }
   .footer{
         
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
         gap: 20px;
         width: 100%;
         height: 200px;
         background-color:darkblue;
         color: aliceblue;
        i{
            font-size: 60px;
        }
        h1{
           font-size: 40px; 
           text-transform: capitalize;
        }
   }

}